
.counter {
    margin: auto;
    text-align: center;

}

.card {
    text-decoration: none;
    width: 25%;
    height: 50%;
}

.cardDetail {
    margin: auto;
    text-align: center;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    margin: auto;
}