
.counter {
    margin: auto;
    text-align: center;

}

.card {
    text-decoration: none;
    width: 25%;
    height: 50%;
}

.cardDetail {
    margin: auto;
    text-align: center;
    
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    margin: auto;
}

.ItemCart {
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
}

.ItemCart img {
    width: 200px;
    margin-right: 1rem;
}

